@charset "UTF-8";
body {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  margin: 0;
  -webkit-font-smoothing: antialiased; }

a {
  color: #227ce8; }
.container {
   margin: 15px 0 15px 15px;}

.container .sidebar {
/*  position: fixed;
  left: 15px;
  top: 120px;*/
  width: 80px;
  height: 500px;
  margin: 15px 15px 0 15px;
  float: left;
  font-family: Helvetica, sans-serif;}
  .container .sidebar a {
    text-decoration: none; }
  .container .sidebar img {
    padding: 0 3px;
    border: 0; }
  .container .sidebar .avatar {
    padding: 0;
    margin-left: 2px;
    border-radius: 5px; }
  .container .sidebar .name {
    text-transform: uppercase;
    margin: 10px 0 0 0; }
    .container .sidebar .sidebar .name #fname {
      padding-left: 1px;
      font-size: 23px;
      letter-spacing: 1px;
      color: black; }
    .container .sidebar .name #lname {
      font-size: 17px;
      font-weight: bold;
      letter-spacing: 1px;
      color: black; }
  .container .sidebar .meta a {
    margin-left: 0px;
    color: black; }
    .container .sidebar .meta a:hover {
      color: #227ce8; 
      }
  .container .sidebar .sections {
    margin: 15px 0 0 0; }
    .container .sidebar .sections a {
      padding: 3px 0;
      color: black;
      font-weight: bold;
      font-size: 12px;
      display: block; }
      .container .sidebar .sections a:hover {
        /*color: #227ce8;*/
        color: #ff8508;  }
    .container .sidebar .sections ul {
      margin: 0px 0 0 0;
      padding: 3px;}
    .container .sidebar .sections li {
   /*   border:0px solid white;
      border-left-color: black;
      border-left-width: 1px; */
      background-image: url("/images/line.gif");
      background-repeat: repeat-y; 
      list-style: none;
      padding-left: 3px;
      margin-bottom: 7px; }

.container .content {
  max-width: 650px;
  margin-left: 120px;
  margin-right: 20px;
  margin-bottom: 50px;}
  .container .content h1 {
    color: #333;
    font-family: "Yanone Kaffeesatz", Helvetica, sans-serif;
    /*font-family: Helvetica, sans-serif;*/
    /*font-family: Futura, sans-serif;*/
    /*font-family: Futura, "Trebuchet MS", Arial, sans-serif;*/
    font-weight: 400; }
  .container .content h1 a {
    color: #111;
    text-decoration: none; }
  .container .content h2 {
    color: #333;
    font-family: "Yanone Kaffeesatz", Helvetica, sans-serif;
    font-weight: 400; }
  .container .content h2 a {
    color: #111;
    text-decoration: none; }
  .container .content h3 {
    color: #333;
    font-family: "Yanone Kaffeesatz", Helvetica, sans-serif;
    font-weight: 400; }
  .container .content h3 a {
    color: #111;
    text-decoration: none; }
  .container .content h4 {
    color: #333;
    font-family: "Yanone Kaffeesatz", Helvetica, sans-serif;
    font-weight: 400; }
  .container .content h4 a {
    color: #111;
    text-decoration: none; }
  .container .content h1 {
    font-size: 36px;
    margin: 18px 0 5px 0; }
  .container .content h2 {
    font-size: 30px;
    margin-bottom: 15px; }
  .container .content h3 {
    color: #777;
    font-size: 25px;
    padding-bottom: 5px;
    margin-bottom: 10px; }
  .container .content p {
    font-size: 16px;
    font-family: sans-serif;
    margin-top: 0;
    margin-bottom: 1.2em;
    line-height: 1.7em; }
    .container .content p code {
      font-size: 12px;
      background-color: #eeeeee;
      border: 1px solid #777777;
      border-radius: 3px;
      padding: 2px 3px; }
  .container .content img {
    padding: 3px;
    border: 1px solid #eeeeee;
    max-width: 100%; }
  .container .content hr {
    border: 0;
    height: 6px;
    background-image: url("/images/hr.png");
    background-repeat: repeat-x;
    margin: 2em 3em; }
  .container .content li {
    margin-bottom: 10px;
    line-height: 1.4em; }
  .container .content blockquote {
    font-style: italic;
    font-size: 14px;
    padding: .25em 1em;
    margin: 1em 1em 0 1em;
    color: #444; }
    .container .content blockquote cite:before {
     .container .content: '— '; }
    .container .content blockquote cite {
      display: block;
      margin-top: .5em;
      text-align: right;
      color: #111;
      font-style: normal; }
  .container .content .byline {
    margin-bottom: 17px;
    font-family: "Yanone Kaffeesatz", Helvetica, sans-serif;
    padding-left: 0px;
    font-size: 17px;
    color: #777; }
  .container .content .aside {
    background-color: #eeeeee;
    padding: 14px;
    font-size: 14px;
    margin: 5px 0 15px 0;
    font-family: Helvetica, sans-serif;
    line-height: 1.6em; }
  .container .content .listing {
    margin: 15px 0 0 0;
    padding: 0;
    font-family: Helvetica, sans-serif; }
    .container .content .listing ul {
      margin: 0;
      padding: 0; }
    .container .content .listing li {
      font-size: 18px;
      font-family:"Yanone Kaffeesatz", Helvetica, sans-serif;
      /*font-family: sans-serif;*/
      list-style: none;
      padding: 5px 3px;
      margin: 0;
      color: #777777;
      border-bottom: 1px solid #eee; }
    .container .content .listing li span {
      float: right; }
    .container .content .listing a {
      text-decoration: none; }
      .container .content .listing a:hover {
        text-decoration: underline; 
        color: #ff8508;}
  .container .content .meta {
    margin: 30px 0;
    padding: 10px 0;
    font-family: Helvetica, sans-serif; }
    .container .content .meta p {
      line-height: 1.4;
      font-size: 14px;
      margin-top: 0px; }
    .container .content .meta img {
      position: relative;
      float: left;
      margin-top: 0px;
      margin-right: 10px;
      margin-left: -60px;
      border-radius: 4px; }
    .container .content .meta .copy {
      padding-left: 60px; }
    .container .content .meta iframe {
      padding-left: 5px; }
  .container .content .talk-design .color div {
    float: left;
    margin-right: 10px;
    padding: 5px 15px;
    border: 1px solid #000;
    font-family: Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold; }
  .container .content .talk-design .color .white {
    color: #fff; }

.banner {}
  .banner .myname {
     text-transform: uppercase;
     letter-spacing: 40px;
     margin: 15px 0 0px 120px;
     font-size: 40px;
     font-family: Helvetica, sans-serif;
     display: block;}
   .banner .header {
     margin: 0 0 0 120px;}

.footer {
   max-width: 650px;
   margin: 15px 0px 0 110px;}
   .footer a {
      float: right;
      margin: 0 5px 0 0;}
